<!--The content below is only a placeholder and can be replaced.-->  
  <video autoplay loop>
    <source src="https://info-mongodb-com.s3.amazonaws.com/_com_assets/home/backgrounds/atlas2.mp4">
    
  </video>
 
 <div class="background">
   <div class="header">
     <div class="outside" id="divref">
     <div class="div1"><h1>Weather</h1></div>
     <div class="div2"><h1>Status</h1></div>
   </div>
   </div>
   <app-weather-search></app-weather-search>
   <app-weather-list></app-weather-list>
 </div>