.div1 {
  display: inline-block;
  width: 40%;
   
}
.div1 h3 {
  margin: 0 0 0 0;
  padding: 0;
  font-size: 22px;
  }
.div2 {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  text-align: right;
  font-size: 22px;  
}
span{
  margin-right: 40px;
}
.outside {
  background-color: white;
  box-shadow: 1px 1px 6px #ccc;
  padding: 10px;
  margin: 10px 0;
  width: 95%;
}
.close{
  float: right;
  vertical-align: top;
  font-size: 18px;
 
}

.close:hover{
   color: red;
   cursor: pointer;
   text-shadow: 2px 2px 5px red;
}