.weather-search {
  margin: 25px auto;
  width: 40%;
  text-align: center;
  background-color: white;
  box-shadow: 1px 1px 6px #ccc;
  padding: 10px 0px;
}
 label {
    font-weight: bold;
    margin-right: 20px;
  }
   button {
    background-color: #2ecc71;
    border: none;
    padding: 4px 8px;
    box-shadow: 1px 1px 1px #95a5a6;
    cursor: pointer;
    color: white;
  }
   button:hover {
    background-color: #27ae60;
  }
  input {
    padding: 3px 5px;
    outline: none;
    width: 50%;
    margin-right: 20px;
  }
  .info {
  color: rgba(95, 95, 95, 0.51);
  font-weight: bold;
}
